@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/roboto-regular.ttf') format('opentype');
}

body {
  font-family: 'Roboto-Regular';
  background-color: #f5f6f8;
}

a {
  text-decoration: none;
}

.wrapper {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.wrapper:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.hover-show {
  opacity: 0;
  transition: all 0.25s ease;
}
.pdf-content:hover .hover-show {
  opacity: 1;
}

@media print {
  .print-bg {
    -webkit-print-color-adjust: exact;
  }
}
